<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity Theft</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="background-image"></div> <!-- Background image with fade in/out effect -->
    <div class="container">
        <a href="index.html" class="home-button">Home</a> <!-- Home button -->
        <!-- <img src="../public/images/Screenshot 2024-08-10 at 5.58.56 PM.png" alt="PayPal Image Scam" style="width: 100%; height: auto; margin-bottom: 20px;"> -->
        <h1>PayPal Image Scam</h1>
        <p>This scam revolves around emails claiming you need to verify your PayPal account.</p>
        <h3>Solution</h3>
        <p>Focus on the content and be cautious. Always check your PayPal app for any verification requests directly from the source.</p>
        <h3>Point of Contact</h3>
        <ul>
            <li>1-866-625-0561</li>
        </ul>
    </div>
</body>
</html>
