<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud Trends / Tendances de la fraude / Tendencias de fraude</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="background-image"></div>
    <div class="container">
        <h1 data-en="What's happening" data-fr="Ce qui se passe" data-es="Lo que está pasando">What's happening....</h1>
        <div id="language-toggle">
            <button id="en-btn">English</button>
            <button id="fr-btn">Français</button>
            <button id="es-btn">Español</button>
        </div>
        <div id="trending-frauds" class="trending-box">

        </div>
        <a href="#" id="show-more" class="show-more" data-en="Show more" data-fr="Voir plus" data-es="Mostrar más">Show more</a>
        <a href="#" id="show-less" class="show-less" style="display:none;" data-en="Show less" data-fr="Voir moins" data-es="Mostrar menos">Show less</a>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
